__pycache__
*__pycache__
*temp.*
temp.*
*.log*
*.zip
venv
debug.*
db.*
*.sql
*.pyc
staticfiles
*.sqlite3
.env

*.temp

*/docs/

.env.*

docs/*.md

# Ignore proposals
openspec/changes/*

# Do not ignore archived proposals
!openspec/changes/archive/

# skip docs
docs/

# ignore by default all hiden folders (like agents folders)
.*/

