{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation email</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Roboto Condensed', sans-serif;
    }
  </style>
</head>

<body>

  <img src="https://raw.githubusercontent.com/darideveloper/tony-thoa-airport-transfers/refs/heads/master/public/imgs/page-logo.webp" width="200"
    alt="Will Ryan Airport Transfers Logo">

  <p>
    <i>
      Dear guest,
    </i>
    <br>
    <br>
    Thank you very much for providing us your Cancun Travel Flight Information, . You will receive a detailed email confirmation including arrival process at the airport and hotel departure time (for departure back to the airport) soon.
    <br>
    <br>
    Best regards,
    <br>
    <br>
    <i>
      The Cancun Concierge DMC team
    </i>
  </p>

</body>

</html>