{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation email</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

  <style>
    * {
      font-family: 'Roboto Condensed', sans-serif;
    }
  </style>
</head>

<body>

  <img src="https://cancunconciergedmc.com/logo.webp" width="200"
    alt="Cancun Concierge DMC Logo">

  <p>
    <i>
      Dear Guest,
    </i>
    <br>
    <br>
    Thank you for sharing your flight details for your upcoming trip to Cancun.
    <br>
    <br>
    As the wedding date approaches, you will receive a detailed confirmation email approximately two weeks prior to your arrival. This email will include all transportation arrangements, airport arrival instructions, and your scheduled hotel departure time for your return transfer to the airport.
    <br>
    <br>
    Warm regards &nbsp; &nbsp; <i>The Cancun Concierge DMC team</i>
  </p>

</body>

</html>